@page
@model IndexModel
@{
    ViewData["Title"] = "O Stronie";
    ViewData["Css"] = "IndexCss.css";
}

<div class="cont" style="display: grid; grid-template-columns: 50vw 50vw; align-items: center;">
<div class="text" style="display: grid; align-items: flex-start; justify-items: center; ">
    <h1 style="color: #000; font-family: 'Monoton'; font-size: 5.5vh; text-align: center; text-wrap: no-wrap;">POZNAJ PRZYSZŁOŚĆ <br /><span style="font-size: 6.5vh; color: #8300EA;">IT JUŻ DZIŚ</span></h1>
        <p>Stawaj się ekspertem w najnowszych technologiach!</p>
        <p>Poznawaj najnowsze rozwiązania dzięki naszym specjalistycznym artykułom</p>
        <p>Bądź częścią naszej rozwijającej się społeczności technologicznej. Zarejestruj się już teraz i podziel się swoją wiedzą i perspektywą!</p>
</div>
<div class="image">
</div>

</div>