@page
@model ProjektArtykuly.Pages.LogoutModel
@{
    ViewData["Title"] = "Wylogowywanie";
    ViewData["Css"] = "LogoutCss.css";
}
<div style="display: grid; place-items: center;"> 
    <h2>Wylogowano</h2>
</div>
